# build output
dist/
.output/
.vscode
.vercel

src/content/.obsidian
src/content/post/.obsidian
src/content/template
src/content/.smart-env

# dependencies
node_modules/

# logs
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

pnpm-lock.yaml

.astro
