---
import Cities from "~/components/common/Cities.astro"

import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Simplifying Staffing and Security needs <br />
      <span class="text-accent dark:text-white highlight">across India</span>
    </Fragment>

    <Fragment slot="subtitle">
      We Provide Business Services Solutions, Staffing Solutions, Security Solutions, Facility Management and Payroll Services to Organisations across India

    </Fragment>
    Our solutions span across multiple industries. We are committed to helping organizations focus on their business while we work behind the scenes to ensure reliable business services and manpower solutions every day. With over a decade of experience serving our customers, we ensure that they are always provided with the right set of solutions for their growth needs, while ensuring economical pricing along the way.

    Leveraging a team of qualified professionals, we have paved the way for our customers' success across 75+ cities in India. Over the past decade, we have worked with organizations across a wide array of industries. We work with our customers to develop custom solutions that meet their manpower needs, such as long-term, short-term, seasonal, flexible, and on-demand gig workforce.
    
    Our custom solutions are aligned with our customers' need for productivity for every person deployed, while ensuring all regulations and compliances are met.

  </Hero>

  <!-- Stats Widget ****************** -->
  <div class="mx-auto p-20 font-semibold w-full min-w-[220px]">
   <p > Our solutions span across multiple industries. We are committed to helping organizations focus on their business while we work behind the scenes to ensure reliable business services and manpower solutions every day. 
    With over a decade of experience serving our customers, we ensure that they are always provided with the right set of solutions for their growth needs, while ensuring economical pricing along the way.</p>

  <p class="mt-5">Leveraging a team of qualified professionals, we have paved the way for our customers' success across 75+ cities in India. Over the past decade, we have worked with organizations across a wide array of industries. 
  We work with our customers to develop custom solutions that meet their manpower needs, such as long-term, short-term, seasonal, flexible, and on-demand gig workforce.</p>
  
  <p class="mt-5">Our custom solutions are aligned with our customer's need for productivity for every person deployed, while ensuring all regulations and compliances are met.</p>
  </div>
  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Customers', amount: '200+' },
      { title: 'Cities', amount: '85+' },
      { title: 'Associates', amount: '10,000+' },
      { title: 'Psara License', amount: '17 States' },
      
    ]}
  />

  <Features
    id="services"
    tagline="Services"
    title="What we Offer"
    subtitle="Experience a comprehensive suite of staffing solutions tailored to meet your unique workforce needs."
    items={[
      {
        title: 'Security Services',
        description:
          'Specialised Guarding and Tech enabled Security Solutions designed to meet your needs.',
        icon: 'tabler:home-shield',
      },
      {
        title: 'Facility Management',
        description:
          'Ensuring proper functioning of business facilities everyday',
        icon: 'tabler:wash-off',
      },
      {
        title: 'Staffing Solutions',
        description:
          'Ensuring your Contractual Workforce meets your business goals.',
        icon: 'tabler:friends',
      },
      {
        title: 'Payroll Solutions',
        description:
          'Complete Employee lifecycle management',
        icon: 'tabler:cash',
      },
      {
        title: 'Empployee Verifications Solutions',
        description:
          "Comprehensive profiling and screening of potential hires.",
        icon: 'tabler:zoom-check',
      },
      {
        title: 'Business Solutions',
        description:
          'Complete Suite of Services for Startups & MSME.',
        icon: 'tabler:rocket',
      },
    ]}
  />
  <center><button class="mx-auto mb-10"><a href="/services" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Explore Our Services</a></a></button></center>

  <Features2
  title="Where We Operate"
  subtitle="Pan-India staffing solutions for diverse industries."
  tagline="Sectors"
  items={[
    {
      title: 'Aviation',
    icon: 'mdi:aeroplane',
    },
    {
      title: 'Banking',
      
      icon: 'mdi:bank',
    },
    {
      title: 'Retail',
      
      icon: 'mdi:cart-variant',
    },
    {
      title: 'Telecom',
      
      icon: 'mdi:radio-tower',
    },
    {
      title: 'Logistics',
      
      icon: 'mdi:warehouse',
    },
    {
      title: 'Manufacturing',
      
      icon: 'mdi:manufacturing',
    },
    {
      title: 'E-Commerce and Hyper Local',
      
      icon: 'mdi:shopping-search',
    },
    {
      title: 'Education',
      
      icon: 'mdi:school',
    },
    {
      title: 'Construction',
      
      icon: 'mdi:construction',
    },
    {
      title: 'Government',
      
      icon: 'mdi:building',
    },
    {
      title: 'Automobile',
      
      icon: 'mdi:car',
    },
    {
      title: 'Health Care',
      
      icon: 'mdi:hospital',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>
<h2 class="mb-4 text-center text-2xl font-bold md:mb-8 lg:text-3xl">Our Presence Across India</h2>   
<Cities/>
<Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/contact',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: 'mailto:support@knighthood.co',
          variant: 'link',
        },
      },
      {
        title: 'Chat with Us',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: 'https://wa.me/919911454503',
          variant: 'link',
        },
      },
      {
        title: 'Customer Support',
        icon: 'tabler:ticket',
        callToAction: {
          target: '_blank',
          text: 'Raise a Ticket',
          href: 'https://airtable.com/embed/applVP0mItmSc4koi/shrvEkFQnN11VZbRY',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a Call',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:phone-outgoing',
      },
    ]}
  >
    
    <Fragment slot="subtitle">
      Connect with us to see how we can help you in your Security and Staffing needs for your Business.
    </Fragment>
  </CallToAction>

  </Layout>
