---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import Cities from "~/components/common/Cities.astro"
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Customers from '../assets/images/customers.webp';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';


const metadata = {
  title: 'Knighthood',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Our Services',
        href: '/services',
        target: '_blank',
        icon: 'tabler:report',
      },
      { text: 'Schedule a Call', href: '/contact' },
    ]}
    
  >
    <Fragment slot="title">
      Security, Facility and Staffing Solutions. 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Simplify your staffing needs with our integrated services for all your blue and grey collar staffing requirements across India </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <div class=" py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <h2 class="mb-4 text-center text-2xl font-bold md:mb-8 lg:text-3xl">Trusted by the best</h2>   
          <Image class="mx-auto" src={Customers} alt="Knighthood Customers" width="800" height="600" decoding="async" />
      
    
    </div>
  </div>
<!-- Stats Widget ****************** -->

<Stats
stats={[
  { title: 'Customers', amount: '200+' },
  { title: 'Cities', amount: '85+' },
  { title: 'Associates', amount: '10,000+' },
  { title: 'Psara License', amount: '17 States' },
]}
/>
  <!-- Features Widget *************** -->

  <Features
    id="services"
    tagline="Services"
    title="What we Offer"
    subtitle="Experience a comprehensive suite of staffing solutions tailored to meet your unique workforce needs."
    items={[
      {
        title: 'Security Services',
        description:
          'Specialised Guarding and Tech enabled Security Solutions designed to meet your needs.',
        icon: 'tabler:home-shield',
      },
      {
        title: 'Facility Management',
        description:
          'Ensuring proper functioning of business facilities everyday',
        icon: 'tabler:wash-off',
      },
      {
        title: 'Staffing Solutions',
        description:
          'Ensuring your Contractual Workforce meets your business goals.',
        icon: 'tabler:friends',
      },
      {
        title: 'Payroll Solutions',
        description:
          'Complete Employee lifecycle management',
        icon: 'tabler:cash',
      },
      {
        title: 'Empployee Verifications Solutions',
        description:
          "Comprehensive profiling and screening of potential hires.",
        icon: 'tabler:zoom-check',
      },
      {
        title: 'Business Solutions',
        description:
          'Complete Suite of Services for Startups & MSME.',
        icon: 'tabler:rocket',
      },
    ]}
  />
  <center><button class="mx-auto mb-10"><a href="/services" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Explore Our Services</a></a></button></center>



  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'High Customer Satisfaction',
        description:
          '80% of our customers have partnered with us for over 5 years, and 95% renew annually, a testament to our dedication to client satisfaction.',
      },
      {
        title: 'Cost Efficient',
        description:
          'Save up to 10% with transparent pricing: No surprises, just superior value.',
      },
      {
        title: 'Solutions Focussed Approach',
        description:
          'Customized solutions. Adaptable procedures. Constant feedback. Our commitment to exceeding your expectations at every step.',
      },
      {
        title: 'Sound Financials',
        description: `100% timely payments = 70% lower attrition + 0 compliance issues: A win-win for everyone.`,
      },
      
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1573335553610-a871dfd95bf5?q=80&w=3378&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Success with Knighthood',
    }}
  >
    <Fragment slot="content">A collaborative partnership that fuels growth and drives mutual success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

  </Content>
  <center><button class="mx-auto mb-10"><a href="/whyus" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Why Customers Choose Us</a></a></button></center>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Streamlined staffing services that empower your business to hit the ground running."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Schedule A Call</span>',
        description:
          "Talk with us to understand how we can streamline your staffing process.",
        icon: 'tabler:phone-incoming',
      },
      {
        title: 'Step 2: <span class="font-medium">Service Proposal</em>',
        description:
          "Expect a tailored service proposal outlining our solutions to meet your specific staffing requirements.",
        icon: 'tabler:notes',
      },
      {
        title: 'Step 3: <span class="font-medium">Price Proposal</span>',
        description:
          'Upon acceptance of our service proposal, we will promptly provide our detailed pricing breakdown.',
        icon: 'tabler:receipt-rupee',
      },
      {
        title: 'Deployment Commences',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Where We Operate"
    subtitle="Pan-India staffing solutions for diverse industries."
    tagline="Sectors"
    items={[
      {
        title: 'Aviation',
      icon: 'mdi:aeroplane',
      },
      {
        title: 'Banking',
        
        icon: 'mdi:bank',
      },
      {
        title: 'Retail',
        
        icon: 'mdi:cart-variant',
      },
      {
        title: 'Telecom',
        
        icon: 'mdi:radio-tower',
      },
      {
        title: 'Logistics',
        
        icon: 'mdi:warehouse',
      },
      {
        title: 'Manufacturing',
        
        icon: 'mdi:manufacturing',
      },
      {
        title: 'E-Commerce and Hyper Local',
        
        icon: 'mdi:shopping-search',
      },
      {
        title: 'Education',
        
        icon: 'mdi:school',
      },
      {
        title: 'Construction',
        
        icon: 'mdi:construction',
      },
      {
        title: 'Government',
        
        icon: 'mdi:building',
      },
      {
        title: 'Automobile',
        
        icon: 'mdi:car',
      },
      {
        title: 'Health Care',
        
        icon: 'mdi:hospital',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  <h2 class="mb-4 text-center text-2xl font-bold md:mb-8 lg:text-3xl">Our Presence Across India</h2>   
<Cities/>
 
  
<!-- Testimonials Widget *********** -->

<Testimonials
title="What our Customers Say"
subtitle="Discover what customers have to say about their experiences working with us."
testimonials={[
  {
    testimonial: `Knighthood provided an outstanding security service even in the most challenging of locations. We were incredibly impressed with the quality of their service and dedication to meeting our needs.`,
    name: 'Akash Trivedi',
    job: 'Zonal Head - North (Proconnect Logistics)',
    image: {
      src: 'https://media.licdn.com/dms/image/C5103AQGKVXh5mxuLSw/profile-displayphoto-shrink_800_800/0/1519803501743?e=1722470400&v=beta&t=PZov-11bH337ggOD-gVP1RFXqf6-dWx-eHocTnONGg0',
      alt: 'Akash Trivedi Image',
    },
  },
  {
    testimonial: `“When we shifted to Knighthood from a well renowned security player, we were able to save 10% on our costs without any reduction in service quality when it comes to security services. It was a great decision that has paid off for us in the long run.`,
    name: 'Rajesh Singh',
    job: 'Operations Head (SpiceXpress)',
    image: {
      src: 'https://media.licdn.com/dms/image/D4D03AQElZ7-h2vyicw/profile-displayphoto-shrink_400_400/0/1673163903505?e=1722470400&v=beta&t=LEmXSAP6LOZJhE67PIqXyIi8EBDAFNdy-6lhiC8oj_I',
      alt: 'Rajesh Singh Image',
    },
  },
  {
    testimonial: `We were amazed at the speed of deployment of labour for warehouses across India that Knighthood provided. They were reliable and efficient, surpassing all of our expectations.`,
    name: 'Ajay Kanwar',
    job: 'COO (Holisol Logistics)',
    image: {
      src: 'https://media.licdn.com/dms/image/C4D03AQHOr7FJmkKV1A/profile-displayphoto-shrink_400_400/0/1622820246459?e=1722470400&v=beta&t=9amhNF1RkZDSrjU4R-NnblLVR75DDmoKN4-upE7StGs',
      alt: 'Ajay Kanwar Image',
    },
  },
  
]}
/>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How much does it cost to hire a security guard in India?',
        description:
          "Hiring a security guard in India can cost Rs. 17,000-40,000/month in metropolitan cities, depending on location and event specifics. Research and compare services for the best value. For more details, check out our pricing page",
      },
      {
        title: 'Is your Pricing Fixed throughout the Contract Period ?',
        description:
          'Our pricing structure is designed with transparency and compliance in mind. It primarily consists of cost components determined by state and central government regulations, which can vary over time. We diligently monitor these changes and adjust our pricing accordingly to ensure adherence to all applicable laws.',
      },
      {
        title: 'Why are your Prices different when compared to your Competitors ?',
        description:
          "Our fair pricing is consistent for similar services and locations. Beware of competitors with unrealistically low rates, which may hide outdated costs or non-compliance risks. We offer competitive pricing aligned with top providers, ensuring savings and peace of mind.",
      },
      {
        title: "Are we liable to pay GST for your services?",
        description:
          "Our services fall under the GST gambit and we are liable to charge GST for services rendered by us. Currently we charge 18% GST for all our services. ",
      },
      {
        title: 'Can we avoid Paying Certain Statutory Compliances?',
        description:
          "Cutting corners on compliance can be costly and disruptive. We work with you to find budget-friendly solutions that prioritize legal adherence. Our competitive pricing and transparent service ensure your peace of mind without compromising on quality or compliance.",
      },
      {
        title: 'When should I hire a bodyguard?',
        description:
          "The answer to this question depends on your security needs and desired level of protection. Generally, people hire bodyguards when they are in a potentially dangerous environment or at risk of attack. Consider your own security requirements before hiring, and make sure you choose the right person for the job.",
      },
    ]}
  />

  
  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/contact',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: 'mailto:support@knighthood.co',
          variant: 'link',
        },
      },
      {
        title: 'Chat with Us',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: 'https://wa.me/919911454503',
          variant: 'link',
        },
      },
      {
        title: 'Customer Support',
        icon: 'tabler:ticket',
        callToAction: {
          target: '_blank',
          text: 'Raise a Ticket',
          href: 'https://airtable.com/embed/applVP0mItmSc4koi/shrvEkFQnN11VZbRY',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Schedule a Call',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:phone-outgoing',
      },
    ]}
  >
    
    <Fragment slot="subtitle">
      Connect with us to see how we can help you in your Security and Staffing needs for your Business.
    </Fragment>
  </CallToAction>
</Layout>
